    <link rel="stylesheet" href="/css/header.css">

<div id="header">
    <div class="title-name">
<h1>WEATHER-APP</h1></div>
<div class="title">
  <h2>  <a href="/"> weather  </a>&nbsp;&nbsp;&nbsp;
    <a href="/about">  About   </a>&nbsp;&nbsp;&nbsp;
    <a href="/login">  Login   </a>&nbsp;&nbsp;&nbsp;
    <a href="/help">    Help  </a>&nbsp;&nbsp;&nbsp;
</h2>
</div>
</div>
